include ../header.pug

div(class="container page create")
    h2(class="mb-4") Veuillez uploader votre examen scanné

    h6(class="text-muted") Examen à uploader : #[strong #{exam.name}]

    form(action="/upload/scans/manual/" + exam.id, method="POST", enctype="multipart/form-data")
        div(class="row")
            div(class="col-6 col-md-9")
                input(class="form-control" id="fileForm" type="file" name="file" required)

            div(class="col-5 col-md-3")
                input(class="btn btn-warning float-end" type="submit", value="Envoyer")
    
    if messages.errormsg
        div(class="alert alert-danger mt-2" role="alert")= messages.errormsg

    br
    br
    h2(class="mb-4") Historique des uploads

    each hist in historic 
        p= hist.date
        ul
            li= 'Uploadé par : ' + hist.user
            li 
                a(href=`/upload/downloadUploadedFile/${exam.id}/${hist.fileName}` class="bouton") Voir le fichier uploadé

            li= 'Numéro des pages non analysées : ' + hist.pagesError
        


include ../footer.pug