h1 Création du QCM

p Importer les eleves

form(action="/" method="POST" enctype="multipart/form-data")
    input(id="fileForm" type="file" name="studentList")
    br
    input(type="submit", value="Submit file")

p= "Fichier en ligne : "
    div(id="filename")
        =uploadedFilename

p Liste des questions

div(id="questions")
    each questID in ["A","B","C","D"]
        div(id="question" + questID)
            h2= "Questionnaire " + questID
            table(id="table" class="tableClass")
                each val in [1,2,3,4,5]
                    tr
                        td
                            p= "Question " + val
                        
                        each response in [1,2,3]
                            td
                                input(
                                    class="checkboxClass"
                                    type="checkbox" 
                                    id="question"
                                    name= val 
                                    value="yes"
                                    )

                        td
                            button(
                                class= "addChoice"
                                type="button"
                            ) +

            button(id="addQuestion" + questID type="button" class="addQuestion") Add Question
            button(id="removeLast" +questID type="button" class="removeQuestion") Remove last

br
br
br
button(id="send" type="button") Send


script(src='/javascript/creationQCM.js')