include header.pug

div(class="container w-50")
    div(class="progress mt-3 mb-2")
        <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>

    h2 Etape 3 : Remplissez les versions des questionnaires

    div(class="container border border-1 rounded mt-3")
        div(class="row row-cols-auto mt-1") 
            div(class="col") Liste des etudiants : 
            div(class="col p-0" id="filename")
                b= uploadedFilename


        div() Liste des énoncés :
        div(class="w-50 mb-2" id="files")
            ul(class="list-group")
                each elem, i in files
                    li(class="list-group-item me-5") 
                        b !{i} : !{elem}
            input(id="filesList" type="hidden" name="files" value=files)

    div(class="mt-3 row" id="questions")
        each questID in versions
            div(class="" id=questID)
                div(class="h4")
                    label(for="table" class="form-label")
                        b= "Questionnaire " + questID

                table(id=questID class="table tableClass mt-0 p-0")
                    each val in [1,2,3,4,5]
                        tr
                            td
                                i= "Question " + val
                            
                            each response in [1,2,3]
                                td
                                    input(
                                        class="form-check-input checkboxClass"
                                        type="checkbox" 
                                        id="question"
                                        name= val 
                                        value="yes"
                                        )

                            td(class="px-0 mx-0")
                                button(class="btn btn-secondary btn-sm addChoice" type="button") +

                div(class="btn-group mb-5" role="group")
                    button(id="addQuestion" + questID type="button" class="btn btn-secondary addQuestion") Add Question
                    button(id="removeLast" +questID type="button" class="btn btn-danger removeQuestion") Remove last

    div(class="row")
            div(class="col-12")
                button(id="send" type="button" class="btn btn-warning float-end") Send all answers


script(src='/javascript/loadAnswers.js')


include footer.pug