h1 Création du QCM

h2 Etape 3 : Remplissez les versions des questionnaires

p Liste des questions pour : 
div(id="filename")
    p= uploadedFilename

p Liste des fichiers :
div(id="files")
    each elem, i in files
        li !{i} : !{elem}

div(id="questions")
    each questID in versions
        div(id=questID)
            h2= "Questionnaire " + questID
            table(id="table" class="tableClass")
                each val in [1,2,3,4,5]
                    tr
                        td
                            p= "Question " + val
                        
                        each response in [1,2,3]
                            td
                                input(
                                    class="checkboxClass"
                                    type="checkbox" 
                                    id="question"
                                    name= val 
                                    value="yes"
                                    )

                        td
                            button(
                                class= "addChoice"
                                type="button"
                            ) +

            button(id="addQuestion" + questID type="button" class="addQuestion") Add Question
            button(id="removeLast" +questID type="button" class="removeQuestion") Remove last

button(id="send" type="button") Send

script(src='/javascript/loadAnswers.js')