include header.pug

div(class="container page")
    if exams.length
        h1= "Examens"
        table(class="table table-hover")
            thead(class="thear-dark")
                tr
                    th(scope="col")= "Nom"
                    th(scope="col")= "Etat"
                    th(scope="col")= "# versions"
                    th(scope="col")= "Date"

            tbody
                each exam in exams
                    tr(onClick=`getExam("${ exam.id }")`)
                        th= exam.name
                        td Créé (gris) | Corrigé (vert)
                        td= exam.numberOfVersion
                        td 14 03 2021 22:35:41 
                        //- td= exam.createdAt
    
    if copies.lenght
        h1= "Copies"
        table(class="table table-hover")
            thead(class="thear-dark")
                tr
                    th(scope="col")= "Nom"
                    th(scope="col")= "Version"
                    th(scope="col")= "Date"
            tbody
                each copy in copies
                    tr(onClick=`getCopy("${ copy.id }")`)
                            th= copy.name
                            td= copy.numberOfVersion
                            td= copy.createdAt
include footer.pug    
        
script.
    function getExam(id){
        window.location.href = `/see/exam/${id}`
    }

    function getCopy(id){
        window.location.href = `/see/copy/${id}`
    }
