include header.pug

- var date = new Date(Date.parse(copy.createdAt))

div(class="container page create")
    div(class="card my-2")
        div(class="card-body")
            h4(class="card-title") Copie d'examen (#[strong #{exam.name}])

            p(class="card-subtitle mb-2 text-muted")= `${date.getDate()}/${date.getMonth()+1}/${date.getFullYear()} - ${date.getHours()}:${date.getMinutes()}:${date.getSeconds()}`
            
            - var point = (copy.result[0]/copy.result[1])*20
            
            if point < 10
                h4(class="text-danger") Cote : #{point}/20
            else
                h4(class="text-success") Cote : #{point}/20
                        
            div(class="photo mb-3")
                img(src=`/see/copy/${copy.id}/download` width="70%" class="border rounded mx-auto d-block")

            if session.userObject.role == 0
                a(href=`/sendEmail/${copy.id}` class="btn btn-danger bouton float-end") Faire une réclamation
            else 
                a(href=`#` class="btn btn-danger bouton float-end") Modifier la cotation

include footer.pug  