include ../header.pug

div(class="container page create")
    h2(class="mb-3") Collaborateurs de l'examen #[strong #{exam.name}]
    
    h4 Liste des collaborateurs
    
    ul
        each user in users
            if(exam.userMatricule == user.matricule) 
                li= '[' + user.matricule + ']  ' + user.fullName + ' (Propriétaire)'
            else
                li= '[' + user.matricule + ']  ' + user.fullName 

    if messages.newUserName
        div(class="alert alert-success my-2" role="alert")
            p= "Voulez-vous ajouter " + messages.newUserName + " comme collaborateur ?"
            form(class="form", action="/see/collaborators/"+ exam.id, method="POST")
                input(type='hidden' name="newCollaborator" value=messages.newUserMatricule)
                button(class="btn btn-success" type="submit") OUI
            a(href="/see/collaborators/"+exam.id)
                button(class="btn btn-danger") NON

    form(class="form mt-5 row" action="/correction/getUserName/" method="POST")
        if messages.userNoExist
            div(class="alert alert-danger my-2" role="alert")= messages.userNoExist
        
        input(type="hidden" name="examId" value=exam.id id="examId")
        h4(class="col-12") Ajouter un collaborateur
        div(class="col-10")
            input(type="input" class="form-control input bouton" name="matricule" id="newMatricule" placeholder="Trigramme/matricule du collaborateur...")
        button(id='submitUserButton' class="btn btn-success bouton col-2" type="submit") Ajouter
