include ../header.pug

div(class="container page")
    h1= "Collaborateurs de l'examen de : " + exam.name

    br
    br
    
    h2 Liste des collaborateurs
    ul
    each user in users
        if(exam.userMatricule == user.matricule) 
            li= '[' + user.matricule + ']  ' + user.fullName + ' (Propriétaire)'
        else
            li= '[' + user.matricule + ']  ' + user.fullName 

    br
    br

    if messages.newUserName
        div(class="alert alert-success my-2" role="alert")
            p= "Voulez-vous ajouter " + messages.newUserName + " comme collaborateur ?"
            form(class="form", action="/see/collaborators/"+ exam.id, method="POST")
                input(type='hidden' name="newCollaborator" value=messages.newUserMatricule)
                button(class="btn btn-success" type="submit") OUI
            a(href="/see/collaborators/"+exam.id)
                button(class="btn btn-danger") NON
    
    if messages.userNoExist
        div(class="alert alert-danger my-2" role="alert")= messages.userNoExist


    form(class="form" action="/correction/getUserName/" method="POST")
        input(type="hidden" name="examId" value=exam.id id="examId")
        h2 Ajouter un collaborateur
        input(type="input" class="form-control bouton" name="matricule" id="newMatricule" placeholder="Entrez le trigramme/matricule du collaborateur")
        div(class="") 
            button(id='submitUserButton' class="btn btn-sm btn-success bouton mt-2 mb-2 col-12 col-xl-4 float-end" type="submit") Ajouter
