include ../header.pug

div(class="container page")
    if exams.length
        h1= "Examens"
        table(class="table table-hover examsTable")
            thead(class="thear-dark")
                tr
                    th(scope="col")= "Nom"
                    th(scope="col")= "Etat"
                    th(scope="col" class="versions")= "# versions"
                    th(scope="col" class="date")= "Date"

            tbody
                each exam in exams
                    - var date = new Date(Date.parse(exam.createdAt))

                    tr(onClick=`getExam("${ exam.id }")` style="cursor: pointer;")
                        th= exam.name
                        if exam.status == 0
                            td(class="text-secondary") Créé
                        else if exam.status == 1
                            td(class="text-warning") Correction en cours...
                        else if exam.status == 3
                            td(class="text-danger") Error, retry
                        else
                            td(class="text-success") Corrigé
                        td(class="versions")= exam.numberOfVersion
                        td(class="date")= `${("0" + date.getDate()).slice(-2)}/${("0" + (date.getMonth()+1)).slice(-2)}/${date.getFullYear()} - ${("0" + date.getHours()).slice(-2)}:${("0" + date.getMinutes()).slice(-2)}:${("0" + date.getSeconds()).slice(-2)}`
    
    if copies.length
        h1= "Copies"
        table(class="table table-hover copiesTable")
            thead(class="thear-dark")
                tr
                    th(scope="col")= "Examen"
                    th(scope="col")= "Cote (pts)"
                    th(scope="col" class="version")= "Version"
                    th(scope="col" class="date")= "Date"
            tbody
                each copy in copies
                    - var date = new Date(Date.parse(copy.createdAt))
                    - var point = Math.round(((copy.result[0]/copy.result[1])*20)*100)/100
                    - var answers = JSON.parse(copy.answers)

                    tr(onClick=`getCopy("${ copy.id }")` style="cursor: pointer;")
                        if session.userObject.authorizations == 0
                            th #{copy.exam.name} - #{copy.user.matricule}
                        else
                            td= copy.exam.name

                        if "error" in answers
                            th 
                                div(class="text-danger") Error
                        else
                            td #{point}/20
                        td(class="version")= copy.version
                        td(class="date")= `${("0" + date.getDate()).slice(-2)}/${("0" + (date.getMonth()+1)).slice(-2)}/${date.getFullYear()} - ${("0" + date.getHours()).slice(-2)}:${("0" + date.getMinutes()).slice(-2)}:${("0" + date.getSeconds()).slice(-2)}`

include ../footer.pug    
        
script.
    function getExam(id){
        window.location.href = `/see/exam/${id}`
    }

    function getCopy(id){
        window.location.href = `/see/copy/${id}`
    }
