include ../header.pug

- var date = new Date(Date.parse(copy.createdAt))

div(class="container page")
    div(class="card my-2")
        div(class="card-body")
            h4(class="card-title") Copie d'examen (#[strong #{exam.name}]) - Version #[strong #{copy.version}]

            p(class="card-subtitle mb-2 text-muted")= `${("0" + date.getDate()).slice(-2)}/${("0" + (date.getMonth()+1)).slice(-2)}/${date.getFullYear()} - ${("0" + date.getHours()).slice(-2)}:${("0" + date.getMinutes()).slice(-2)}:${("0" + date.getSeconds()).slice(-2)}`
            
            - var point = Math.round(((copy.result[0]/copy.result[1])*20)*100)/100
            - var questions = JSON.parse(copy.answers)

            if "error" in questions
                h4(class="text-danger") Cote : #[strong Error]
            else
                if point < 10
                    h4(class="text-danger") Cote : #{point}/20
                else
                    h4(class="text-success") Cote : #{point}/20

            div(class="photo my-3 row")
                div(class="tab col-5 form-check p-0 m-auto")
                    table(id='tableId' class="table table-sm tableClass mt-0 p-0")
                        if "error" in questions
                            each val in [...JSON.parse(exam.corrections)[copy.version].keys()]
                                tr
                                    td(class="hide-sm") 
                                        i Question #{val + 1}
                                    
                                    each response in [...JSON.parse(exam.corrections)[copy.version][val].keys()]
                                        td
                                            input(disabled=session.userObject.role == 0 class="" type="checkbox" name=response value="yes")

                        else
                            each val in [...questions.keys()]
                                tr
                                    td(class="hide-sm") 
                                        i Question #{val + 1}
                                    
                                    each response in [...questions[val].keys()]
                                        td
                                            input(checked=questions[val][response] disabled=session.userObject.role == 0 class="" type="checkbox" name=response value="yes" )
                    
                    if session.userObject.role == 0
                        a(href=`/correction/sendEmail/${copy.id}` class="btn btn-danger bouton float-end") Faire une réclamation
                    else 
                        button(id='submitButton' class="btn btn-danger bouton float-end") Modifier la cotation
       
                img(class="border rounded mx-auto d-block col-5" src=`/see/copy/${copy.id}/download` width="40%")
            
            if messages.successEmail
                div(class="alert alert-success" role="alert")= messages.successEmail
            
            if messages.successAnswerChange
                div(class="alert alert-success" role="alert")= messages.successAnswerChange

input(id="copyId",type="hidden", value=copy.id)
script(src='/javascript/correctImageProcess.js')
include ../footer.pug  