include ../header.pug 

div(class="container page create")
    input(type="hidden" id='examId' value=examid)

    h2(class="mb-3") Modifier les réponses aux QCM
    
    h3 Méthode 1 : Uploader un fichier Excel
    if messages.recorrectmsg
        div(class="alert alert-success my-2" role="alert")= messages.recorrectmsg
    p Uploadez un fichier excel contenant les réponses à vos questions.

    if messages.errormsg
        div(class="alert alert-danger mt-2" role="alert")= messages.errormsg    
    form(action="/correction/uploadAnswersExcel/" + examid, method="POST", enctype="multipart/form-data")
        div(class="row")
            div(class="col-6 col-md-9")
                input(class="form-control" id="fileForm" type="file" name="file" required)

            div(class="col-5 col-md-3")
                input(class="btn btn-warning float-end" type="submit", value="Envoyer")
    
    br
    br
    h3 Méthode 2 : Complétez la grille ci-dessous
    div(class="mt-3 row" id="questions")
        each versionVal, versionKey in correction
            div(class="" id=questID)
                div(class="h4")
                    label(for="table" class="form-label")
                        b= "Questionnaire " + versionKey
                - var questionIndex = 0
                table(id=versionKey class="table tableClass mt-0 p-0")
                    each val in versionVal
                        if val.type == 'version'
                            input(type="hidden", id="nbVersion", value=val.nbVersion)
                        else
                            - questionIndex = questionIndex + 1
                            tr
                                td
                                    i= "Question " + questionIndex
                                
                                each response in val.response
                                    td
                                        if(response)
                                            input(
                                                class="form-check-input checkboxClass"
                                                type="checkbox" 
                                                id="question"
                                                name= response -1 
                                                value="yes"
                                                checked
                                                )
                                        else
                                            input(
                                                class="form-check-input checkboxClass"
                                                type="checkbox" 
                                                id="question"
                                                name= response -1 
                                                value="yes"
                                                )

    div(class="row mb-4")
            div(class="col-12")
                button(id="send" type="button" class="btn btn-warning float-end") Confirmer les modifications
    
script(src='/javascript/modifyAnswers.js')
